<!DOCTYPE html>
<html>
<head>
    <title>Калькулятор</title>
</head>
<body>
    <h1>Калькулятор</h1>
    <form action="/" method="post">
        <label for="num1">Введите первое число:</label>
        <input type="number" name="num1" id="num1"><br><br>

        <h5>
        <select name="method">
            <option value="plus">+</option>
            <option value="minus">-</option>
            <option value="multiplication">*</option>
            <option value="division">/</option>
        </select></h5>

        <label for="num2">Введите второе число:</label>
        <input type="number" name="num2" id="num2"><br><br>
        <button type="submit">Посчитать</button>
    </form>
    {% if result %}
        <h2>Результат:</h2>
        <p>{{ result }}</p>
    {% endif %}
</body>
</html>
